.board-wrap--fc a {
  @include transition;
  transition-property: background-color, border-color, opacity;
}

.board-wrap .category-tab {
  display: none;
}

/*---- option */
.board-utill-none,
.search-none {
  .board-search-wrap--fc {
    display: none !important;
  }
}

.board-utill-none,
.board-tab-none {

  .board-wrap--fc .category-tab--fc,
  .board-wrap .category-tab {
    display: none !important;
  }
}

.board-utill-none,
.board-paging-none {

  .board-wrap--fc .board-paging,
  .board-wrap .board-paging {
    display: none !important;
  }
}

.board-click-none {

  .gallery-list--fc a,
  .basic-board-list--fc a {
    pointer-events: none !important;
  }
}

/*----- board search */
.board-search-wrap--fc {
  text-align: center;
  margin-bottom: 0;

  > form,
  > .board_list_total--fc {
    float: inherit;
  }

  .board_list_total--fc {
    text-align: left;
    @include fz(18, pre);
    font-weight: 300;
    color: $font-color-base;
    margin-bottom: 1rem;
    line-height: normal;
  }

  .search-total-num__accent--fc {
    color: $color-base;
    font-weight: 700;
  }

  form {
    padding: 2rem 1.25rem;
    margin-bottom: 2.5rem;
    background-color: #f7f7f7;
    border-radius: 0.625rem;
  }

  fieldset {
    display: block;
    max-width: calc(1148px + (0.625rem * 2));
    margin: 0 auto;
  }

  input[type='text'],
  select {
    @include fz(18, pre);
    border: solid 1px #fff;
    border-radius: 10px;
    padding-left: 1em;
  }

  input[type='text'] {
    width: 100%;
    padding-right: 10px;
  }

  select {
    padding-right: 2rem;
    background-image: url(/html/_skin/img/common/ico_search_select.png);
    background-size: 0.9375rem;
  }

  .search-input-wrap--fc,
  .search-input-wrap--fc > a {
    display: inline-block;
    vertical-align: top;
  }

  .search-input-wrap--fc > a {
    position: relative;
    @include fz(18);
    background-color: $color-base;
    text-indent: -99999999px;
    background-image: url(/html/_skin/img/common/ico_search_btn.png);
    background-repeat: no-repeat;
    background-size: 17%;
    @include transition(background-color 0.3s ease-in-out);
  }

  p.search-input-wrap--fc {
    @include d-inline-flex;
  }
}

@include md-min {
  .board-search-wrap--fc {
    .board_list_total--fc {
      margin-bottom: 2.5rem;
    }

    form {
      margin-bottom: 5rem;
    }

    input[type='text'],
    select,
    .search-input-wrap--fc > a {
      height: 48px;
      border-color: #f7f7f7;
    }

    p {
      padding: 0 0.625rem;
      margin: 0;

      &.search-select-wrap--fc {
        width: 190px;
      }

      &.search-input-wrap--fc {
        width: calc(100% - 190px);
      }
    }

    .search-input-wrap--fc > a {
      width: auto;
      line-height: 48px;
      margin-left: 1.25rem;
      min-width: 6.944em;
      padding: 0 1em;
      background-size: 17%;
      border-radius: 60px;
    }
  }
}

@include xl-min {
  .board-search-wrap--fc .search-input-wrap--fc > a:hover {
    background-color: $color-point;
  }
}

@include md-max {
  .board-search-wrap--fc {
    .search-input-wrap--fc {
      input[type='text'] {
        padding-right: 38px;
      }
    }

    .search-input-wrap--fc > a {
      position: absolute;
      right: 0;
      width: 38px;
      font-size: 0;
      border-radius: 10px;
      background-size: 40%;
    }
  }
}

@include ssm-max {

  .board-search-wrap--fc p:first-of-type,
  .board-search-wrap--fc p:last-of-type {
    width: 100%;
  }

  .board-search-wrap--fc p:last-of-type {
    margin-top: 8px;
  }
}

/*----- 카테고리 */
.board-wrap--fc .category-tab--fc {
  margin: 0 0 3rem;

  ul {
    border: 0;
    @include d-flex-wrap;

    li {
      -ms-flex: 1;
      flex: 1;
      margin: 0;
    }

    li a {
      @include flex-align-center;
      height: 100%;
      padding: 1.45rem 1rem;
      @include fz(18);
      font-weight: 800;
      color: rgba($color: $font-color-base, $alpha: 0.6);
      border-radius: 50px;
      background-color: #f7f7f7;
      @include transition;
      line-height: 1.2;

      @include bp-hover {
        background-color: rgba($color: $color-base, $alpha: 0.05);
        box-shadow: 3.5px -3.5px 46px 0 rgba($color: #dedede, $alpha: 0.1);
      }
    }

    li.on {
      a {
        background-color: $color-point;
        color: #fff;
      }

      a:before {
        display: none;
      }
    }
  }

  @include md-max {
    ul {
      li {
        -ms-flex: auto;
        flex: auto;
      }

      li a {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}

/*----- 페이징 */
.board-wrap--fc .board-paging,
.products--fc .board-paging,
.form--fc .board-paging {
  .paging-btn-next {
    background: url('/html/_skin/img/common/paging-next-off.png') no-repeat center center;
  }

  .paging-btn-last {
    background: url('/html/_skin/img/common/paging-last-off.png') no-repeat center center;
  }

  .paging-btn-first {
    background: url('/html/_skin/img/common/paging-first-off.png') no-repeat center center;
  }

  .paging-btn-prev {
    background: url('/html/_skin/img/common/paging-prev-off.png') no-repeat center center;
  }

  > ol {
    margin-left: 18px;
    margin-right: 18px;
  }

  > a,
  li > a {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid transparent;
    margin: 0 2px;
    line-height: calc(2.5rem - 2px);
    transition-property: background-color;
    border-radius: 50%;
    color: #111;
    @include fz(15);
  }

  li {

    &.on > a,
    &:hover > a {
      // border: 1px solid #0d0d0d;
    }

    &:hover > a {
      background-color: #dadada;
      color: #111;
    }

    &.on > a {
      background-color: $color-base;
      border-color: $color-base;
      color: #fff;
    }
  }
}

.products--fc .board-paging,
.board-wrap--fc .board-paging {
  margin-top: 3.875rem;
}

/*----- 일반 게시판 */
.basic-board-list--fc,
.webzine-board-list--fc {
  border-top-width: 1px;
  border-top-color: #151515;

  tbody tr.no-data--fc td {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  thead {
    th {
      height: 4.75rem;
      font-weight: 700;
      @include fz(18, pre);

      &:before {
        display: none;
      }
    }
  }

  td {
    @include fz(18);
  }

  tbody td.board-subject--fc a {
    color: rgba($color: $font-color-base, $alpha: 0.9);

    @include bp-hover {
      color: $td-link-color-hover;
    }
  }

  @include md-min {
    td {
      height: 4.75rem;
    }
  }

  @include md-max {
    tbody tr:first-child {
      border-top: 0;
    }

    tbody tr {
      border-top-color: $td-bor-color;
      padding: 15px 20px;
    }

    tbody td {
      margin: 0.3em 0 0;
    }

    tr.no-data--fc {
      td {
        float: inherit;
        width: 100%;
      }
    }
  }
}

/*----- 갤러리 공통 */
.gallery-title--fc {
  line-height: 1.5;
  font-weight: 800;
}

.gallery-date--fc {
  display: none;
}

.gallery-list-wrap--fc {
  border-top: 1px solid #151515;
  border-bottom: 1px solid #dedede;
  padding-top: 2.25rem;
}

.board-wrap--fc .gallery-list--fc {
  border-top: 0;
  text-align: center;

  figure {
    margin-top: 0;

    a {
      border-bottom: 0;

      .thumb-wrap--fc {
        border: 0;
        border-radius: 1.875rem;

        > img {
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
        }
      }
    }
  }

  @include md-min {
    figure {
      a:hover {
        .thumb-wrap--fc {
          &:after {
            border: 0;
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  @include xl-min {
    margin-left: -20px;
    margin-right: -20px;

    figure {
      padding: 0 20px;
      width: 33.3333%;
    }
  }
}

/*----- 갤러리 - 이미지 */
.board-wrap--fc .gallery-list--fc.gallery {
  figure {
    a {
      .thumb-wrap--fc {
        background-color: #f6f6f6;

        &.embed-responsive-16by9 {
          padding-bottom: 75.9%;
        }

        > img {
          width: auto;
          max-width: none;
          min-width: 100%;
          max-height: calc(100% + 100px);
        }
      }
    }
  }
}

/* faq */
.faq-wrap--fc {
  border-left: 0;
  border-right: 0;

  .board-category--fc {
    display: block;
    margin-right: 0.5rem;
  }

  .category {
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid $color-base;
    font-size: 0.9473em;
    font-weight: 600;
    padding: 0.25em 0.7em;
    color: $color-base;
  }

  .f-btn--fc {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: 0.875rem * -0.5;
    right: 1.875rem;
    width: 2rem;
    height: 0.875rem;
  }

  .f-btn--fc:before,
  .f-btn--fc:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(50% + 2px);
    top: 50%;
    margin-top: -0.5px;
    border-bottom: 1px solid $faq-arrow-color;
  }

  .f-btn--fc:before {
    left: 0;
    @include transform(rotate(40deg));
  }

  .f-btn--fc:after {
    right: 0;
    @include transform(rotate(-40deg));
  }

  .f-wrap--fc.on .f-btn--fc {
    @include transform(scale(-1));
  }

  .faq-list--fc {}

  .f-wrap--fc a,
  .q-wrap--fc p {
    @include fz(18);
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
  }

  .f-wrap--fc a {
    @include d-flex;
    padding-left: 6.25rem;
    padding-right: 2.875rem;

    @include bp-hover {
      background-color: $faq-a-bg;
    }
  }

  .f-wrap--fc a:after {
    display: none;
  }

  .f-wrap--fc a:before,
  .q-wrap--fc p:before {
    top: 1.4rem;
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125rem;
    border-radius: 50%;
    // @include fz(22);
    font-size: 1.375rem;
    font-weight: 700;
  }

  .f-wrap--fc a:before {
    background-color: #000;
  }

  .f-wrap--fc.on a:before {
    content: "Q";
  }

  .q-wrap--fc p {
    padding-left: 9.5rem;
  }

  .q-wrap--fc p:before {
    content: "A";
    left: 5.125rem;
    background-color: $color-point;
  }

  .q-wrap__title {
    display: block;
    font-weight: 800;
    margin-bottom: 1rem;
    color: $font-color-base;

    img {
      display: none;
    }
  }

  @include md-max {
    .f-wrap--fc a {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .f-wrap--fc a,
    .q-wrap--fc p {
      padding-left: 3.5rem;
    }

    .f-wrap--fc a {
      padding-right: 2.5rem;
    }

    .f-wrap--fc a:before,
    .q-wrap--fc p:before {
      left: 10px;
      top: 1.875rem;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      @include fz();
    }

    .f-btn--fc {
      width: 1.5rem;
      height: 1.5rem;
      margin-top: 1rem * -0.5;
      right: 1.25rem;
    }
  }
}

/*----- view */
.board-wrap--fc .board-view--fc {
  border-width: 1px 0 0;
  border-color: #151515;

  header {
    padding-top: 3.375rem;
    padding-bottom: 2.875rem;
    text-align: center;
    @include fz();
    line-height: 1;

    h1 {
      @include fz(26);
      line-height: 1.2;
      margin-bottom: 1.5rem;
      font-weight: 800;
      color: #1a1a1a;
    }

    address {
      @include clearfix;
      display: block;
      color: rgba($color: $font-color-base, $alpha: 0.8);
      @include fz(18);
      text-align: center;
      @include d-flex-wrap;
      @include justify-content-center;

      p {
        display: inline-block;
        vertical-align: middle;
        background-size: auto 0.8em;
        padding: 0 0.778em;
      }
    }
  }

  .board-conts--fc,
  .board-conts--fc p {
    @include fz(18);
    color: rgba($color: $font-color-base, $alpha: 0.8);
    line-height: 1.67;
  }

  .board-conts--fc {
    // border-bottom: 1px solid $td-bor-color;
    margin-bottom: 0;
    padding: 3% 4% 5rem;
  }

  @include md-max {
    header address {

      &,
      p {
        float: none;
      }
    }
  }
}

// view - btn
#subConts .board-wrap--fc .board-view--fc .btn-view-wrap--fc {
  a {
    @include fz(18, pre);
    line-height: 2.77em;
  }

  .btn-list--fc {
    background: #fff;
    border: 1px solid #151515;
    color: #151515;
    text-align: center;
    padding: 0 5px;
    @include fz(18, pre);
    font-weight: 700;
    border-radius: 0;

    > span {
      display: inline-block;
      padding-left: 2.388em;
      background: no-repeat left center/1.6em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 18' width='30' height='18'%3E%3Cpath d='M3.5,4H.5A.5.5,0,0,1,0,3.5V.5A.5.5,0,0,1,.5,0h3A.5.5,0,0,1,4,.5v3A.5.5,0,0,1,3.5,4ZM1,3H3V1H1Z' fill='rgb(21,21,21)'/%3E%3Cpath d='M29.5,2.5H10a.5.5,0,0,1,0-1H29.5a.5.5,0,0,1,0,1Z' fill='rgb(21,21,21)'/%3E%3Cpath d='M3.5,11H.5a.5.5,0,0,1-.5-.5v-3A.5.5,0,0,1,.5,7h3a.5.5,0,0,1,.5.5v3A.5.5,0,0,1,3.5,11ZM1,10H3V8H1Z' fill='rgb(21,21,21)'/%3E%3Cpath d='M29.5,9.5H10a.5.5,0,0,1,0-1H29.5a.5.5,0,0,1,0,1Z' fill='rgb(21,21,21)'/%3E%3Cpath d='M3.5,18H.5a.5.5,0,0,1-.5-.5v-3A.5.5,0,0,1,.5,14h3a.5.5,0,0,1,.5.5v3A.5.5,0,0,1,3.5,18ZM1,17H3V15H1Z' fill='rgb(21,21,21)'/%3E%3Cpath d='M29.5,16.5H10a.5.5,0,0,1,0-1H29.5a.5.5,0,0,1,0,1Z' fill='rgb(21,21,21)'/%3E%3C/svg%3E");
    }

    @include bp-hover {
      background: $color-base;
      border-color: $color-base;
      color: #fff;

      > span {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 18' width='30' height='18'%3E%3Cpath d='M3.5,4H.5A.5.5,0,0,1,0,3.5V.5A.5.5,0,0,1,.5,0h3A.5.5,0,0,1,4,.5v3A.5.5,0,0,1,3.5,4ZM1,3H3V1H1Z' fill='rgb(255,255,255)'/%3E%3Cpath d='M29.5,2.5H10a.5.5,0,0,1,0-1H29.5a.5.5,0,0,1,0,1Z' fill='rgb(255,255,255)'/%3E%3Cpath d='M3.5,11H.5a.5.5,0,0,1-.5-.5v-3A.5.5,0,0,1,.5,7h3a.5.5,0,0,1,.5.5v3A.5.5,0,0,1,3.5,11ZM1,10H3V8H1Z' fill='rgb(255,255,255)'/%3E%3Cpath d='M29.5,9.5H10a.5.5,0,0,1,0-1H29.5a.5.5,0,0,1,0,1Z' fill='rgb(255,255,255)'/%3E%3Cpath d='M3.5,18H.5a.5.5,0,0,1-.5-.5v-3A.5.5,0,0,1,.5,14h3a.5.5,0,0,1,.5.5v3A.5.5,0,0,1,3.5,18ZM1,17H3V15H1Z' fill='rgb(255,255,255)'/%3E%3Cpath d='M29.5,16.5H10a.5.5,0,0,1,0-1H29.5a.5.5,0,0,1,0,1Z' fill='rgb(255,255,255)'/%3E%3C/svg%3E");
      }
    }
  }

  @include md-min {
    .btn-list--fc {
      display: inline-block;
      min-width: 138px;
    }
  }
}

// view - nav
.board-wrap--fc .board-view--fc .post-navi--fc {
  margin-top: 5rem;

  li a,
  li span {
    color: rgba(21, 21, 21, 0.8);
  }

  li span,
  li strong {
    @include fz(18, pre);
  }

  li a {
    @include fz(18);
  }

  li strong {
    color: #151515;
  }

  .next-post--fc {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='10px'%3E%3Cpath fill-rule='evenodd' fill='rgb(21, 21, 21)' d='M15.003,1.470 L8.597,8.190 L8.947,8.557 L7.570,10.001 L-0.002,2.060 L1.375,0.615 L7.191,6.716 L13.597,-0.004 L15.003,1.470 Z'/%3E%3C/svg%3E");

    a {
      color: rgba(21, 21, 21, 0.8);
    }
  }

  .prev-post--fc {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='11px'%3E%3Cpath fill-rule='evenodd' fill='rgb(21, 21, 21)' d='M15.347,8.837 L13.932,10.251 L7.486,3.805 L1.633,9.658 L0.248,8.272 L7.868,0.653 L9.253,2.038 L8.900,2.391 L15.347,8.837 Z'/%3E%3C/svg%3E");

    a {
      color: rgba(21, 21, 21, 0.8);
    }
  }

  @include md-min {
    li {
      padding: 1.76em 32px 1.72em 68px;
    }

    li strong {
      margin-right: 50px;
    }

    .next-post--fc,
    .prev-post--fc {
      background-position: 30px center;
    }
  }

  @include md-max {

    .next-post--fc,
    .prev-post--fc {
      background-position: 14px 24px;
      padding: 18px 20px 20px 40px;
    }
  }
}

// view - file
.board-wrap--fc .board-view--fc .board-view-file--fc {
  border-color: #dedede;
  border-bottom: 1px solid #dedede;
  margin: -1px 0 0 0;
  padding: 1em 0;
  @include fz(18);
  line-height: 1.2;

  &,
  a,
  a strong {
    font-weight: 400;
    color: #1a1a1a;
  }
}

/*-------latest */
.gallery-latest--fc {
  .thumb-wrap--fc {
    @include fit-thumb(62.04%, auto, full);
    border-radius: 2.5rem 0.625rem;

    &:before {
      z-index: 2;
      content: "";
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $color-base, $alpha: 0.5);
      @include transition;
    }
  }

  figcaption {
    padding-top: 2rem;
  }

  .gallery-title--fc {
    @include fz(24);
    color: #1a1a18;
    font-weight: 800;
    line-height: 1.2;
  }

  .gallery-date--fc {
    display: block;
    margin-top: 1rem;
    @include fz(18);
    color: rgba(26, 26, 24, 0.8);
    line-height: 1.2;
  }

  a {
    @include bp-hover {
      .thumb-wrap--fc {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

// basic
.basic-board-latest--fc {
  .basic-board-latest__row {
    @include d-flex-wrap;
    color: rgba($color: $font-color-base, $alpha: 0.8);

    a {
      @include fz(18);

      @include bp-hover {
        text-decoration: underline;
      }
    }

    .col-full,
    .col-board {
      width: 100%;
    }

    .col-board:nth-child(2) {
      .latest-top__date .date-box {
        background-color: $color-point;
      }
    }
  }

  .latest__board-table {
    border-top: 1px solid #151515;

    > li {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      border-bottom: 1px solid #dedede;
    }
  }

  .latest-top .flex-box {
    @include align-items-center;
  }

  .latest-top__date {
    font-size: 0.75rem;

    .date-box {
      @include d-flex-wrap;
      @include justify-content-center;
      -ms-align-content: center;
      align-content: center;
      width: 5rem;
      height: 5rem;
      text-align: center;
      background-color: $color-base;
      border-radius: 50%;
    }

    .dd {
      display: block;
      width: 100%;
      font-size: 1.5em;
      margin-bottom: 0.3rem;
      color: #fff;
    }

    .yymm {
      color: rgba($color: #fff, $alpha: 0.8);
    }
  }

  .latest-top__cont {
    width: calc(100% - 5rem);
    padding-left: 4%;

    .title {
      margin-bottom: 0.875rem;
      color: $font-color-base;
      @include ellipsis(1, 1.2em);
      @include fz(20);
      font-weight: 800;
    }

    .cont {
      @include ellipsis(2, 1.5em)
    }
  }

  .latest-item {
    @include d-flex-wrap;
    @include align-items-center;

    .title {
      @include ellipsis(1, 1.2em);
      font-weight: 800;
      color: $font-color-base;
    }

    .td-title {
      width: 70%;

      a {
        display: block;
      }
    }

    .td-date {
      width: 30%;
      text-align: right;
    }
  }

  @include md-min {
    .basic-board-latest__row {
      margin-left: -15px;
      margin-right: -15px;

      .col-full,
      .col-board {
        padding-left: 15px;
        padding-right: 15px;
      }

      .col-board {
        width: 50%;
      }
    }

    .latest-top__date {
      @include fz();
      width: 7rem;

      .date-box {
        width: 7rem;
        height: 7rem;
      }

      .dd {
        font-size: 2.5em;
      }
    }

    .latest-top__cont {
      width: calc(100% - 7rem);
    }
  }

  @include xl-min {
    .basic-board-latest__row {
      margin-left: -32px;
      margin-right: -32px;

      .col-full,
      .col-board {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }

  @include md-max {
    .basic-board-latest__row .col-board:nth-child(2) .latest__board-table {
      border-top: 0;
    }
  }
}