i,
em {
  font-style: normal;
}

br {
  font-family: '돋움', '굴림', Dotum, Gulim, Arial, sans-serif !important;
}

pre {
  font-family: $font-family-base !important;
}

.br {
  display: block;
}

figure,
.thumb,
.thumb__img {
  -webkit-perspective: 1;
}

.thumb__img {
  display: inline-block;
}

img {
  image-rendering: -moz-crisp-edges;
  /* firefox */
  image-rendering: -o-crisp-edges;
  /* opera */
  image-rendering: -webkit-optimize-contrast;
  /* chrome(비표준) */
  backface-visibility: hidden;
  -webkit-perspective: 1;
}

/* include */
.inc-video {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  background-color: #111;

  > iframe,
  > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
  }
}

/*-- dfn --*/
.dfn {}

.dfn-basic {
  > dt {
    font-weight: bold;
  }
}

dl.dd-dot {
  > dd {
    @include item-dot($color-base, 3px);
  }
}

/*-- list --*/
ul.list-dot > li {
  @include item-dot-txt(2px);
}

ul.list-circle > li {
  @include item-dot(#acdbea, 0.625rem, 0.25em);
}

.list-bar > li {
  @include item-bar(#000);
}

.list-num {
  padding-left: 1em;

  &,
  > li {
    list-style: decimal;
  }
}

.list-num-circle {
  counter-reset: num;

  > li {
    position: relative;
    counter-increment: num 1;
    padding-left: calc(2rem + 1.125em);

    &:before {
      content: counter(num);
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 50%;
      background-color: $color-base;
      color: #fff;
      font-size: 1.125rem;
      font-weight: 800;
      text-align: center;
    }
  }
}

/* img background */
.img-bg-copy {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  > img {
    opacity: 0;
    visibility: hidden;
  }
}

/* figure */
figure {
  line-height: 0;
}

figure.t_c {
  display: block;

  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.figcaption {
  line-height: 1.25;
}

/* font style */
strong,
em {
  font-weight: 800;
}

.color_base {
  color: $color-base !important;
}

.color_point {
  color: $color-point !important;
}

.fw-l {
  font-weight: 300 !important;
}

.fw-n {
  font-weight: 400 !important;
}

.fw-m {
  font-weight: 500 !important;
}

.fw-b {
  font-weight: 800 !important;
}

.fw-bl {
  font-weight: 900 !important;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

/* text align style */
.txt-a-inline {
  @include d-flex;
  @include align-items-baseline;
}

.txt-a-space {
  @include d-flex;
  @include justify-content-between;
  @include align-items-center;
}

/* btn */
button {
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

[class*="btn"] {
  @include transition(background-color 0.3s);
}

/* map */
@include md-max {
  div[id^='map'] {
    height: 320px !important;
  }
}

/* table */
@include md-max {
  .table-wrap {
    overflow-x: auto;
    padding-bottom: 1rem;

    table {
      min-width: 68rem;
    }
  }
}

table {
  position: relative;
  width: 100%;
}

.v-mid {

  th,
  td {
    vertical-align: middle;
  }
}

.v-top {

  th,
  td {
    vertical-align: top;
  }
}

table.fix-col {
  table-layout: fixed;
}

table.th_c {
  th {
    text-align: center;
  }

  td:first-of-type {
    text-align: center;
  }
}

table.t_c {

  th,
  td {
    text-align: center;
  }
}

.tb-caption {
  @include fz();
  color: #262626;
}

.table-wrap,
table {
  & + .tb-caption {
    margin-top: 1rem;
  }
}

.radius-table {
  border-collapse: separate;

  th,
  td {
    border-radius: 5px;
    padding: 0.8em 5px;
  }

  thead th {
    background-color: #707070;
    color: #fff;
  }

  td {
    background-color: #fff;
    color: #333;
  }
}

/* underline */
.underline {
  display: inline;
  color: inherit;
  background: none !important;
  box-shadow: inset 0 -0.6em 0 0 rgba($color: $color-base, $alpha: 0.4);
}

.textline {
  text-decoration: underline;
}

mark,
.mark {
  background-color: #f5f5f5;
  color: inherit;
}

// slick
.slick-arrow {
  z-index: 10;
}

.swiper-container {
  @include swiper;
}

.quotes-l,
.quotes-r {
  @include d-inline-flex;
  background: no-repeat center/contain;
  color: transparent;
  text-indent: -99999px;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.quotes-l {
  background-image: url(/html/_skin/img/sub/about/img_quotes_left.png);
}

.quotes-r {
  background-image: url(/html/_skin/img/sub/about/img_quotes_right.png);
  align-items: self-end;
  margin-bottom: 0.3em;
}