/* 사업소개 */
.about-spot {
  .obj {
    position: absolute;
    display: inline-block;

    img {
      max-height: 100%;
    }
  }

  .obj-1 {
    z-index: 2;
    top: 0;
    left: -20px;
    height: 30%;
    max-height: 8rem;

    img {
      // width: 13.125rem;
    }
  }

  .obj-2 {
    right: -20px;
    bottom: 0;
    height: 30%;
    max-height: 5rem;

    img {
      // width: 10.312rem;
    }
  }

  .col-img {
    text-align: center;
  }

  .col-img .box {
    position: relative;
    display: inline-block;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .col-word {
    .words-tit {
      @include fz(40);
      color: #1a1a18;
      font-weight: 800;
      margin-bottom: 2rem;
    }

    .words-desc {
      max-width: 534px;
      @include fz(18);
      line-height: 1.89;
      color: rgba($color: $font-color-base, $alpha: 0.8);
    }

    p + p {
      margin-top: 1.7em;
    }
  }

  .about-spot__thumb {
    .thumb__img {
      @include overflow-hidden;
      border-radius: 0.625rem 2.5rem;
    }
  }

  @include md-min {
    @include d-flex-wrap;

    .col-spot {
      width: 50%;
      padding-top: 0;
    }

    .col-spot .box {
      padding-bottom: 3.75rem;
    }

    .obj {
      max-height: none;
    }

    .obj-1 {
      top: 15.92%;
      width: 30%;
      left: -11%;
      height: auto;
    }

    .obj-2 {
      right: -2.6rem;
      width: 23.57%;
      height: auto;
    }

    .col-img {
      padding-left: 7.5%;
      padding-right: 3.92%;
      margin-left: -7.5%;
    }

    .col-img .box {
      padding-top: 0;
    }

    .col-word {
      @include d-flex-wrap;
      align-self: center;
    }
  }

  @include bp-min($inner-max-width + 150px) {
    .obj-1 {
      left: -15%;
    }
  }
}

.section-vision {
  position: relative;
  text-align: center;
  background-color: #cbf0fd;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .quotes-l,
  .quotes-r {
    width: 0.56em;
    height: 0.56em;
  }

  .vision-logos {
    padding-top: 6rem;
    margin-bottom: 3rem;

    img {
      width: 20rem;
    }
  }

  .vision-words {
    @include fz(30);
    line-height: 1.6;
  }

  .vision-spot img {
    width: 100%;
  }
}

.section-intro {
  .intro-article {
    @include d-flex-wrap;
  }

  .intro-article + .intro-article {
    border-top: 2px dashed #dedede;
    margin-top: 3rem;
    padding-top: 3rem;
  }

  .card-list {
    > li {
      margin-bottom: 10px;
    }

    .card {
      height: 100%;
      padding: 2.5rem;
      border-radius: 1.25rem;
      background-color: #eafaff;
    }

    .card__dfn {
      > dt {
        @include fz(24);
        font-weight: 800;
        color: #1a1a18;
        border-bottom: 1px solid rgba($color: #acdbea, $alpha: 0.45);
        padding-bottom: 1.25rem;
        margin-bottom: 1.5rem;
      }

      > dd {
        @include fz(18);
        line-height: 1.89;
        color: rgba($color: $font-color-base, $alpha: 0.8);
        @include item-dot(#acdbea, 0.55em);
      }
    }
  }

  .intro-article__ico {
    width: 2.5rem;

    img {
      border-radius: 50%;
    }
  }

  .bg_point img {
    background-color: $color-point;
  }

  .bg_base img {
    background-color: $color-base;
  }

  .intro-article__words {
    width: calc(100% - 2.5rem);
    padding-left: 1rem;
    color: rgba($color: $font-color-base, $alpha: 0.8);
    line-height: 1.89;
    @include fz(18);

    .words-tit {
      @include fz(40);
      line-height: normal;
      color: #1a1a18;
      font-weight: 800;
      margin-bottom: 2.25rem;
    }
  }

  @include sm-min {
    .intro-article + .intro-article {
      margin-top: 5rem;
      padding-top: 5rem;
    }

    .intro-article__ico {
      width: 11.11%;
    }

    .intro-article__words {
      width: 88.89%;
      padding-left: 3.5%;

      .words-tit {
        margin-top: 0.3em;
      }
    }
  }

  @include bp-min($inner-max-width ) {
    .card-list {
      @include colspace(26px);
    }
  }
}

/* 아이들과 미래재단 */
.partner-banner--fc {
  @include overflow-hidden;
  position: relative;
  padding: 10.5rem 20px;
  background: no-repeat center/cover;
  border-radius: 1.875rem;
  text-align: center;

  .partner-banner__words {
    z-index: 2;
    position: relative;

    .words-tit {
      @include fz(40);
      color: #fff;
      font-weight: 800;
      margin-bottom: 1.5rem
    }

    .words-desc {
      @include fz(18);
      line-height: 1.67;
      color: rgba($color: #fff, $alpha: 0.8);
    }

    .btn-wrap {
      margin-top: 2.25rem;
    }

    .arrow {
      margin-left: 1rem;
    }

    .btn-banner {
      font-weight: 800;
      padding: 0.32em 1.5rem;

      @include bp-hover {
        border-color: $color-base-hover;
        background-color: $color-base-hover;
      }
    }
  }

  .obj {
    position: absolute;
    top: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  .obj-1 {
    left: 0;
  }

  .obj-2 {
    right: 0;
  }
}

.section-separation--layout {
  .sub-cont-section + .sub-cont-section:not(.not-border-top) {
    position: relative;
    padding-top: 0;

    &:before {
      content: "";
      display: block;
      width: calc(100% - 40px);
      max-width: $inner-max-width - 40px;
      margin: 0 auto;
      border-top: 2px dashed #dedede;
      margin-bottom: 100px;
    }
  }

  .section__article__box + .section__article__box {
    margin-top: 4.375rem;
  }

  .section__article + .section__article {
    margin-top: 5rem;
  }
}

// lh한국토지주택공사 소개
.lh-intro--page {
  .md-inner {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .value-list {
    @include d-flex-wrap;
    @include justify-content-around;
    text-align: center;
    margin-top: -6px;
    margin-left: -6px;
    margin-right: -6px;

    > li {
      width: 50%;
      padding: 6px;
    }

    > li.mb-full {
      width: 100%;
    }
  }

  .value-circle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .value-circle__box {
    background-color: $color-point;
    padding: 3rem 20px;
    border-radius: 3rem;
    color: #fff;

    .alphabet {
      @include fz(40);
      font-weight: 900;
      margin-bottom: 1rem;
    }

    .cont {
      width: 100%;
    }
  }

  .value-circle__dfn {
    width: 100%;
    line-height: 1.56;

    > dt {
      @include fz(18);
      font-weight: 800;
    }

    > dd {
      @include fz(18);
      font-weight: 300;
    }
  }

  .value-list .list-item:nth-child(even) .value-circle__box {
    background-color: $color-base;
  }

  .partner-banner--fc {
    background-image: url(/html/_skin/img/sub/about/bg_partner_banner_lh.jpg);

    .obj-3 {
      top: 0;
      left: 50%;
      @include transform(translateX(-50%));
      bottom: auto;
    }
  }

  @include md-max {
    .partner-banner--fc {
      .obj-1 {
        display: none;
      }
    }
  }

  @include lg-max {
    .partner-banner--fc {
      .obj-3 {
        display: none;
      }
    }
  }

  @include ssm-max {
    .value-list > li {
      width: 100%;
      margin-bottom: 0.625rem;
    }
  }

  @include sm-min {
    .value-list {

      > li,
      > li.mb-full {
        width: 33.33%;
      }
    }

    .value-circle {
      max-width: 14.25rem;
    }

    .value-circle__box {
      position: relative;
      padding: 0 20px;
      border-radius: 50%;
      padding-bottom: 100%;
    }

    .value-circle__box .cont {
      position: absolute;
      left: 0;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  @include md-min {
    .value-list {
      margin-top: -8px;
      margin-left: 0;
      margin-right: 0;
      padding-left: 8px;
      padding-right: 8px;

      > li {
        padding: 8px;
      }
    }
  }

  @include lg-min {
    .value-list {

      > li,
      > li.mb-full {
        width: 20%;
      }
    }
  }
}

.lh-intro--page .section-01 {
  p {
    line-height: 1.88;
  }
}

.lh-intro--page .section-mission {
  .mission-list {
    color: #fff;

    .tit,
    .txt {}

    .tit {
      width: 6rem;
      @include fz(18);
      color: rgba(255, 255, 243, 0.8);
    }

    .txt {
      width: calc(100% - 6rem);
      @include fz(24);
      color: #fffff3;
      font-weight: 800;
      line-height: 1.5;
    }

    .box {
      @include d-flex-wrap;
      @include align-items-center;
      border-radius: 0.625rem;
      padding: 2.5rem 0;
      text-align: center;
    }

    > li:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  .mission-list__arrow {
    width: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
  }

  @include sm-max {
    .mission-list {

      .tit,
      .txt {
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      .tit {
        margin-bottom: 8px;
      }
    }
  }
}

.lh-intro--page .section-value {
  .value-tit {
    color: $color-base;
    @include fz(20);
    font-weight: 800;
    margin-bottom: 1rem;
  }
}

.lh-intro--page .section-rule {
  .rule-box {
    border-radius: 1.875rem;
    padding: 5.2rem 20px;
  }

  .rule-box__row {
    @include d-flex-wrap;
    max-width: 1034px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.125rem;
  }

  .col-small,
  .col-big {
    width: 100%;
  }

  .col-big {
    margin-top: 1rem;
  }

  .rule-box__tit {
    @include fz(18);
    line-height: 1.39;
    color: #fff;
    border-radius: 60px;
    text-align: center;
    font-weight: 800;
    padding: 1rem;
  }

  .card {
    padding: 2rem;
    border-radius: 1.25rem;
    box-shadow: 13.4px 13.4px 27px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    color: rgba($color: $font-color-base, $alpha: 0.8);
  }

  .list-num-circle {
    line-height: 1.88;

    > li + li {
      margin-top: 0.875rem;
    }

    > li:before {
      background-color: #444;
    }
  }

  .rule-box__row:nth-child(odd) .value-circle__box {
    background-color: $color-base;
  }

  @include md-min {
    .col-small {
      width: 10rem;
    }

    .col-big {
      width: calc(100% - 10rem);
      padding-left: 20px;
      margin-top: 0;
    }
  }

  @include lg-min {
    .col-small {
      width: 16.25rem;
    }

    .col-big {
      width: calc(100% - 16.25rem);
      padding-left: 1.5rem;
    }
  }

  @include md-max {
    .rule-box__row.head {
      display: none;
    }
  }
}

// 아이들과 미래재단 소개
.foundation-intro--page .sub-cont-section {
  & + .sub-cont-section {
    padding-top: 0;
  }

  @include md-min {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.foundation-intro--page .section-01 {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
  margin-bottom: 3.75rem;
  text-align: center;

  .inner {
    position: relative;
  }

  .bg {
    position: absolute;
    right: 0;
    bottom: -12.5rem;

    img {
      width: 13.125rem;
    }
  }

  .foundation-intro__thumb {
    margin-bottom: 2rem
  }

  .foundation-intro__words {
    .words-tit {
      @include fz(30);
      font-weight: 800;
      margin-bottom: 1.5rem
    }

    .words-desc {
      @include fz(18);
      line-height: 1.67;
      color: rgba($color: $font-color-base, $alpha: 0.8);
    }
  }

  @include sm-min {
    .foundation-intro {
      @include d-flex;
      text-align: left;
    }

    .foundation-intro__thumb {
      width: 18.42%;
      margin-bottom: 0;
    }

    .foundation-intro__words {
      width: 81.58%;
      padding-left: 5.85%;
    }
  }
}

.foundation-intro--page .section-value {
  .value-list {
    @include d-flex-wrap;
    @include justify-content-around;
    text-align: center;
    margin-top: -6px;
    margin-left: -6px;
    margin-right: -6px;

    > li {
      width: 50%;
      padding: 6px;
    }

    .words {
      max-width: 265px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.67;
    }
  }

  .circle {
    margin-bottom: 2.125rem;
    margin-left: auto;
    margin-right: auto;
  }

  .circle__box {
    background-color: $color-point;
    padding: 3rem 20px;
    border-radius: 3rem;
  }

  .circle__dfn {
    width: 100%;
    color: #fff;

    > dt {
      @include fz(24);
      font-weight: 800;
      margin-bottom: 0.5rem;
    }

    > dd {
      @include fz(18);
      font-weight: 300;
    }
  }

  .value-list .list-item:nth-child(even) .circle__box {
    background-color: $color-base;
  }

  @include ssm-max {
    .value-list > li {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  @include sm-min {
    .value-list {}

    .circle {
      max-width: 18rem;
    }

    .circle__box {
      position: relative;
      padding: 0 20px;
      border-radius: 50%;
      padding-bottom: 100%;
    }

    .circle__dfn {
      position: absolute;
      left: 0;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  @include md-min {
    padding-top: 7rem !important;

    .value-list {
      margin-top: -18px;
      margin-left: 0;
      margin-right: 0;
      padding-left: 18px;
      padding-right: 18px;

      > li {
        padding: 18px;
      }
    }
  }

  @include lg-min {
    .value-list > li {
      width: 25%;
    }
  }
}

.foundation-intro--page .section-mission {
  .blockquote {
    padding: 3rem 20px;
    border-radius: 60px;
    @include fz(20);
    line-height: 1.5;
    text-align: center;
    color: rgba($color: $font-color-base, $alpha: 0.8);

    .quotes-l,
    .quotes-r {
      width: 0.85em;
      height: 0.85em;
    }
  }
}

.foundation-intro--page .section-program {
  .profram-list-wrap {
    padding: 2.25rem;
    border-radius: 1.25rem;
  }

  .profram-list {
    @include fz(18);

    .tit {
      @include fz(24);
      font-weight: 800;
      margin-bottom: 0.6rem;
    }

    > li + li {
      margin-top: 1.5rem;
    }
  }

  @include sm-max {
    .profram-list-wrap {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.foundation-intro--page .partner-banner--fc {
  background-image: url(/html/_skin/img/sub/about/bg_partner_banner_foundation.jpg);

  @include xl-min {}
}

/* 도시락 지원 */
.lunch-box--page {
  .subtit {
    @include fz(18);
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #151515;
  }

  .color_base:not(.txt--big) {
    color: rgba($color: $color-base, $alpha: 0.8) !important;
  }

  * ~ .table-wrap,
  * ~ table {
    margin-top: 1.5rem;
  }

  .list-circle {
    @include fz(18);

    > li {
      margin-bottom: 0.5rem;
    }
  }

  .apply-step {
    max-width: 938px;
  }

  .apply-step__list {
    text-align: center;

    > li {
      position: relative;
      margin-top: 1.125rem;
    }

    .box {
      @include d-flex;
      flex-direction: column;
      height: 100%;
      @include overflow-hidden;
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      border: 1px solid #dedede;
      line-height: 1.63;
    }

    .box__head {
      color: #fff;
      font-weight: 800;
      height: 3.125rem;
      @include flex-align-center;
      padding: 8px;
      @include fz(18);
    }

    .box__dfn {
      @include flex-align-center;
      border-top: 1px solid #dedede;
      @include fz();

      .words {
        padding: 1rem 8px;
      }
    }

    .box__dfn.date {
      height: 5.125rem;
      font-weight: 800;
    }

    .box__dfn:not(.date) {
      height: calc(100% - 5.235rem - 3.125rem);
    }
  }

  .area_table {
    tbody td {
      color: rgba($color: $color-base, $alpha: 0.8);
      font-weight: 800;
    }
  }

  @include md-max {
    .sub-cont-section + .sub-cont-section:before {
      margin-bottom: 50px;
    }
  }

  @include xl-min {
    .apply-step__list {
      @include colspace(33px);

      > li {
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          right: -12.5px;
          width: 1.625rem;
          height: 1.625rem;
          background: no-repeat center/38.46%;
          background-color: $color-base;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='7px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M-0.003,4.198 L7.343,4.198 L4.564,6.996 L6.529,6.996 L10.002,3.498 L6.529,-0.001 L4.564,-0.001 L7.343,2.798 L-0.003,2.798 L-0.003,4.198 Z'/%3E%3C/svg%3E");
          border-radius: 100%;
        }

        &:last-child:after {
          display: none !important;
        }
      }
    }
  }
}

.lunch-box--page .section-01 {
  .sub_cont_tit + p {
    @include fz(18);
    line-height: 1.5;
  }
}

.lunch-box--page .section-criteria {
  padding-bottom: 25px;

  @include md-min {
    padding-bottom: 50px;
  }
}

.lunch-box--page .section-apply {
  padding-top: 40px;

  @include md-min {
    padding-top: 70px;
  }

  .apply-banner {
    @include overflow-hidden;
    position: relative;
    min-height: 23.875rem;
    padding: 6.25rem 5rem;
    background-color: $color-base;
    color: #fff;
    border-radius: 1.875rem;

    .obj {
      position: absolute;
      right: 0;
      bottom: -3px;
      line-height: 0;
      width: 50%;
    }
  }

  .apply-banner__words {
    z-index: 2;
    position: relative;
    padding-right: 56%;
    @include fz(18);
    line-height: 1.67;
    color: rgba($color: #fff, $alpha: 0.8);

    .words-tit {
      @include fz(40);
      font-weight: 800;
      color: #fff;
      line-height: 1.33;
      margin-bottom: 1.5rem;
    }

    .btn-wrap {
      margin-top: 2rem;
    }

    .btn-apply {
      @include fz(18);
      font-weight: 800;

      > span {
        padding-right: 1em;
      }

      @include bp-hover {
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .btn-apply img {
      margin-left: auto;
    }
  }

  @include sm-min {
    .btn-apply {
      min-width: 8.7777em;
    }
  }

  @include lg-max {
    .apply-banner {
      padding-bottom: 18rem;

      .obj {
        left: 0;
        width: 100%;
        height: 14rem;
        text-align: center;

        img {
          max-height: 100%;
        }
      }
    }

    .apply-banner__words {
      padding-right: 0;
    }
  }

  @include sm-max {
    .apply-banner {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

// 도시락 - 신청하기
.lunch-box-apply--page {
  .apply-table {
    text-align: left;

    .flex-table {}

    input:not([type="radio"]):not([type="checkbox"]) {
      width: 100%;
      border-radius: 5px;
      height: 3rem;

      &:read-only {
        background-color: #f7f7f7;
        border-color: $input-bor-color;
        cursor: auto;
      }
    }

    textarea {
      width: 100%;
      height: 106px;
    }

    .flex-table__row {
      @include d-flex-wrap;
    }

    .flex-table__item {
      width: 50%;
      @include d-flex;
      border-top: 1px solid #dedede;
    }

    .flex-table__th,
    .flex-table__td {
      @include d-flex-wrap;
      @include align-items-center;
      padding: 1.25rem;
    }

    .flex-table__row:first-child .flex-table__item {
      border-top: 0;
    }

    .flex-table__th {
      background-color: #f7f7f7;
      font-weight: 800;
      color: #151515;
      width: 156px;
      border-right: 1px solid #dedede;
    }

    .flex-table__item + .flex-table__item .flex-table__th {
      border-left: 1px solid #dedede;
    }

    .flex-table__td {
      width: calc(100% - 156px);
    }

    .is_apply_selects {
      @include d-flex;
      text-align: left;

      > li {
        min-width: 8em;
      }

      > li:last-child {
        width: 100%;
      }
    }

    .check-year {
      @include d-flex-wrap;

      > li {
        margin-right: 1rem;
      }
    }

    .flex-box {
      @include align-items-center;
    }

    .input_number_unit {
      input {
        max-width: 256px;
      }
    }

    .unit {
      padding-left: 1em;
    }

    .info {
      margin-left: 1em;
    }

    .symbol {
      flex-shrink: 0;
      margin-left: 0.3em;
      margin-right: 0.3em;
    }

    .caption-box {
      border-bottom: 1px solid #dedede;
      padding: 1rem 1.5rem;
      font-weight: 800;
      color: $color-base;
    }

    .form__place--fc {
      .tit {
        padding-right: 1em;
      }
    }
  }

  .form-btns__box {
    @include d-flex;
    @include justify-content-between;

    .btn_theme {
      @include justify-content-center;
      @include fz(18);
      font-weight: 800;
      padding-top: 1.22em;
      padding-bottom: 1.22em;
      min-width: 8em;

      > span {
        margin-right: 0;
      }

      @include bp-hover {
        background-color: $color-base-hover;
        color: #fff;
      }
    }

    .btn-list {
      margin: -10px -10px 0;
      @include d-flex-wrap;

      > li {
        padding: 10px;
      }
    }
  }

  @include md-min {
    .sub-cont-section:not(.section-01) {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }

    .sub-cont-section + .sub-cont-section {
      padding-top: 0;
    }
  }

  @include xl-max {
    .apply-table {
      .flex-table__item {
        width: 100%;
      }

      .flex-table__item + .flex-table__item .flex-table__th {
        border-left: 0;
      }

      .flex-table__row:first-child .flex-table__item:not(:first-child) {
        border-top: 1px solid #dedede;
      }
    }
  }

  @include md-max {
    .apply-table {
      .flex-md-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      .is_apply_selects {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        > li {
          width: 100%;
        }
      }

      thead,
      colgroup {
        display: none;
      }

      &,
      tbody,
      tr,
      th,
      td {
        display: block;
      }

      .flex-table__th {
        width: 8rem;
      }

      .flex-table__td {
        width: calc(100% - 8rem);
      }

      .info {
        display: block;
        margin-left: 0;
        margin-top: 4px;
      }
    }

    .form-btns__box {
      .btn_theme {
        font-size: 0.875rem;
      }

      .btn-list {
        margin: -5px -5px 0;

        > li {
          padding: 5px;
        }
      }
    }
  }

  @include sm-max {
    .form-btns__box {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .btn_theme {
        width: 100%;
      }

      .btn-list {
        width: calc(100% + 10px);

        > li {
          flex: 1;
        }
      }
    }
  }

  @include ssm-max {
    .apply-table {
      .flex-table {
        padding-bottom: 1rem;
      }

      .flex-table__item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-top: 0 !important;
      }

      .flex-table__th,
      .flex-table__td {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        border: 0 !important;
      }

      .flex-table__th {
        background-color: #fff;
        padding-top: 1rem;
        padding-bottom: 0;
      }

      .flex-table__td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

.lunch-box-apply--page .section-01 {
  .sub_cont_desc {
    @include fz(22);
    margin-bottom: 3rem;
  }
}

.lunch-box-apply--page .section-policy {
  .policy-box {
    border: 1px solid #dedede;
    padding: 1.875rem;
    line-height: 1.88;
  }

  .policy-box__info {}

  .policy-box__notice {}

  .policy-agree {
    input[type="text"] {
      width: 100%;
      border-radius: 5px;
    }
  }

  .policy-agree__tit {
    text-align: center;
    font-weight: 800;
    @include fz(18);
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

.lunch-box-apply--page .section-papers {
  .papers-table {
    .btn_theme {
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      min-width: auto;
      width: 100%;
      margin: 0.5rem auto 0;
    }

    .notice {
      margin-bottom: 1rem;
    }
  }

  @include sm-min {
    .papers-table .btn_theme {
      max-width: 212px;
    }
  }
}