<?php include('html/_skin/inc_meta.php');?>
<!DOCTYPE html>
<html lang="<?=getLocaleLang()?>">

<head>
  <title><?=$meta_title?></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no">
  <?=$meta_tags?>
  <!--[if lt IE 9]>
    <script type="text/javascript" src="/html/js/html5shiv.js"></script>
    <script type="text/javascript" src="/html/js/IE9.js"></script>
    <![endif]-->
  <script type="text/javascript" src="/html/js/jquery.min.js"></script>
  <script type="text/javascript" src="/html/js/common.js"></script>

  <script type="text/javascript" src="/html/js/browser.js"></script>
  <script type="text/babel" src="/html/js/setThumbnail.js"></script>

  <!-- 사용자 정의 -->
  <!-- jquery -->
  <script type="text/javascript" src="/html/_skin/js/vendor/jquery-3.2.1.min.js"></script>

  <!-- fontAwesome -->
  <link rel="stylesheet" type="text/css" href="/html/_skin/css/vendor/fontAwesome/font-awesome.min.css" />

  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="/html/_skin/css/vendor/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/html/_skin/css/vendor/slick/slick-theme.css" />
  <script type="text/javascript" src="/html/_skin/js/vendor/slick/slick.js"></script>

  <!-- aos -->
  <link rel="stylesheet" type="text/css" href="/html/_skin/css/vendor/aos/aos.css" />
  <script type="text/javascript" src="/html/_skin/js/vendor/aos/aos.js"></script>

  <!-- bootstrap -->
  <!--    <link rel="stylesheet" type="text/css" href="/html/_skin/css/vendor/bootstrap/bootstrap.min.css" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="/html/_skin/css/vendor/bootstrap/bootstrap.css"> -->
  <script src="/html/_skin/js/vendor/bootstrap/bootstrap.min.js" type="text/javascript"></script>

  <!-- tween -->
  <script src="/html/_skin/js/vendor/greensock-js/minified/TweenMax.min.js" type="text/javascript"></script>
  <script src="/html/_skin/js/vendor/greensock-js/minified/TweenLite.min.js" type="text/javascript"></script>
  <script src="/html/_skin/js/vendor/greensock-js/ScrollToPlugin.js" type="text/javascript"></script>
  <script src="/html/_skin/js/tween.js" type="text/javascript"></script>

  <!-- scrollmagic -->
  <script src="/html/_skin/js/vendor/scrollmagic/minified/ScrollMagic.min.js" type="text/javascript"></script>
  <script src="/html/_skin/js/vendor/scrollmagic/minified/plugins/debug.addIndicators.min.js"
    type="text/javascript"></script>
  <script src="/html/_skin/js/vendor/scrollmagic/minified/plugins/animation.gsap.min.js"
    type="text/javascript"></script>

  <!-- magnific-popup -->
  <link rel="stylesheet" type="text/css" href="<?=get_url('/html/css/magnific-popup.css');?>" />
  <script src="/html/js/jquery.magnific-popup.min.js" type="text/javascript"></script>

  <!-- bxslider -->
  <!-- <script type="text/javascript" src="/html/_skin/js/vendor/bxslider/jquery.bxslider.min.js"></script> -->

   <!-- swiper -->
  <link rel="stylesheet" type="text/css" href="/html/_skin/mdp/js/vendor/swiper/swiper.min.css" />
  <script type="text/javascript" src="/html/_skin/mdp/js/vendor/swiper/swiper.min.js"></script>

  <!-- youtube -->
  <link rel="stylesheet" type="text/css" href="/html/_skin/js/vendor/grt-youtube/grt-youtube-popup.css" />
  <script type="text/javascript" src="/html/_skin/js/vendor/grt-youtube/grt-youtube-popup.js"></script>

  <link rel="stylesheet" type="text/css" href="<?=get_url('/html/_skin/css/fonts/fonts.css');?>" />
  <link rel="stylesheet" type="text/css" href="<?=get_url('/html/_skin/css/vendor/custom/YouTubePopUp.css');?>" />
  <link rel="stylesheet" type="text/css" href="<?=get_url('/html/_skin/css/style.css');?>" />

  <link rel="stylesheet" type="text/css" href="/html/_skin/css/vendor/jquery-ui-1.13.0.custom/jquery-ui.min.css" />
  <script type="text/javascript" src="/html/_skin/js/vendor/jquery-ui-1.13.0.custom/jquery-ui.min.js"></script>
  <script type="text/javascript"
    src="/html/_skin/js/vendor/jqueryui-touch-punch/rwap/jquery.ui.touch-punch.js"></script>
  <script type="text/javascript" src="/html/_skin/js/vendor/custom/jquery.cookie.js"></script>
  <script type="text/javascript" src="/html/_skin/js/vendor/custom/jquery.rwdImageMaps.min.js"></script>
  <script type="text/javascript" src="/html/_skin/js/vendor/custom/YouTubePopUp.jquery.js"></script>
  <script type="text/javascript" src="/html/_skin/js/tween.js"></script>
  <script type="text/javascript" src="<?=get_url('/html/_skin/js/custom.js');?>"></script>
  <!-- 사용자 정의 끝 -->

  <script type="text/javascript">

    $.ajax({
      url: '<?=_API_URL;?>',
      type: 'post',
      dataType: 'json',
      data: {
        method: 'Visit.checkVisit',
        resolution: screen.width + "x" + screen.height,
      },
      success: function (data, textStatus, jqXHR) {
        var json_data = data.data;
        //    console.log(json_data);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus);
        // $('#content').val(errorThrown);
      }
    });

  </script>

</head>